* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  
}

.clearfix {
  float: none;
  clear: both;
}

#global {
  width: 65%;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 0 0 3px rgb(138, 138, 138);
}

#logo {
  font-size: 30px;
  letter-spacing: 4px;
  /* background-color: rgb(35, 94, 61); */
  color: rgb(255, 255, 255);
  text-align: center;
  width: 550px;
  height: 100px;
  margin-bottom: 20px;
  line-height: 100px;
  float: left;
}

nav {
  background-color: rgb(51, 51, 51);
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
nav ul {
  line-height: 46px;
}
nav li {
  line-height: 46px;
  display: inline-block;
  transition: all .3s;
}
nav a {
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

#posts, #caja {
  width: 60%;
  float: left;
}

#caja {
  margin-top: 40px;
}

.post {
  padding: 7px;
}
.post h2 {
  font-size: 30px
}
.post .fecha {
  color: rgb(128, 128, 128);
  margin-top: 5px;
  display: block;
}
.post p {
  margin-top: 15px;
  margin-bottom: 20x;
  line-height: 20px;
  text-align: justify;
}

.btn {
  display: block;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100px;
  /* background-color: rgb(35, 94, 61); */
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
}

aside {
  width: 30%;
  float: right;
}
aside h4 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 10px;
  color: rgb(51, 51, 51);
  background: url('../img/lines.png');
}
aside h4 span {
  background-color: rgb(255, 255, 255);
  padding: 5px;
}
aside img {
  width: 100%;
}
aside p {
  font-size: 15px;
  margin-top: 10px;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
select {
  padding: 5px;
  border-radius: 2px;
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
  margin-bottom: 10px;
}

button {
  background-color: rgb(231, 231, 231);
  padding: 10px;
  border: 1px solid rgb(168, 168, 168);
  cursor: pointer;
  margin-top: 10px;
}

#form h2

footer {
  color: rgb(255, 255, 255);
  height: 45px;
  background-color: rgba(51, 51, 51, .7);
  margin: auto;
  width: 65%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  line-height: 45px;
  text-align: center;
}

#cambiar-tema {
  position: fixed;
  top: 40%;
  background-color: rgba(51, 51, 51, .5);
  width: 50px;
  height: 95px;
}
#verde,
#rojo,
#azul {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(255, 255, 255);
  display: block;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
#verde {
  background-color: rgb(35, 94, 61);
}
#rojo {
  background-color: rgb(202, 52, 19);
}
#azul {
  background-color: rgb(31, 135, 196);
}

.subir {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  float: right;
}

#reloj {
  font-size: 30px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  text-align: center;
  border: 1px solid rgb(51, 51, 51);
  width: 50%;
  padding: 15px;
  margin: auto;
}

.titulo {
  margin-bottom: 20px;
}

/* Slider */
.bx-viewport {
  height: 350px !important;
}

/* Form Validator */
.form-error {
  font-size: 12px;
  color: rgb(202, 52, 19);
  display: block;
  margin-bottom: 10px;
}